<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Environments</key>
	<dict>
		<key>development</key>
		<dict>
			<key>AppID</key>
			<string>id6502000076</string>
			<key>Email</key>
			<string>contact@tagup.org</string>
			<key>baseUrl</key>
			<string>https://ai.tag-up.uk/</string>
		</dict>
		<key>production</key>
		<dict>
			<key>AppID</key>
			<string>id6502000076</string>
			<key>Email</key>
			<string>contact@tagup.org</string>
			<key>baseUrl</key>
			<string>https://ai.tag-up.uk/</string>
		</dict>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
	</array>
</dict>
</plist>
